body {
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  background: url(./assets/back.png);
  background-repeat: no-repeat;
  text-align: center;
}

body div:nth-of-type(1) {
  width: fit-content;
  display: inline-flex;
  flex-direction: column;
}